body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial;
}

#header{
    text-align: center;

}

#nav, #highlight, #footer{
    text-align: center;
    padding: 10px;
    background-color: #efefef;
    margin: 10px;
}

#nav li{
    display: inline;
    padding: 5px;
}

#highlight img{
    width: 20%;
}

.article{
    float: left;
    width: 280px;
    margin: 10px;
    padding: 10px;
    height: 200px;
    background-color: #efefef;
}

#content{
    height: 100%;
    overflow: auto;
}
